body {
	padding-top: 50px;
}

h3 {
	color: #f18123;
	font-weight: bold;
	margin-bottom: 15px;
}
.lead {
	color: #004678;
	border-bottom: 1px dashed #ccc;
}
.navbar-inverse {
	color: #fff;
	background-color: #004678;
	border-bottom: 0px;
}
.navbar-inverse .navbar-brand {
	color: #fff;
	font-weight: bold;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #004678;
	background-color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	color: #555;
	background-color: #eee;
	border-color: #ccc;
}

.how-to-list > .list-group-item {
	border: 1px solid #fff;	
}

.content-list > .list-group-item {
	border-style: none;	
}

.form-control > .radio, .form-control > .checkbox {
	margin: 0;
}
.content {
	padding: 100px 15px 40px;
	margin-bottom: 40px;
}

.input-group-addon:first-child {
	width: 150px;
	text-align: left;
}

#ygor-messages {
	min-height: 1px;
}

.select2-selection__rendered {
	line-height: 30px !important;
}
.select2-container .select2-selection--single {
	height: 34px !important;
}
.select2-selection__arrow {
	height: 33px !important;
}

select#pkgNominalPlatform,
select#pkgNominalProvider {
	width: 405px;
}

select#pkgNominalPlatform .warning,
select#pkgNominalProvider .warning {
	font-style: italic;
	color: #bbb;
}
select#processIndex {
	width: 405px;
	display: inline-block;
}

#statistics-filter .badge {
	margin-left: 0.5em;
}

#statistics table {
	display: none;
}
#statistics table.active {
	display: table;
}

#statistics table thead {
	color: #ccc;
}

#statistics-substats span > span {
	padding: 0px 5px;
	font-weight: bold;
}
#statistics table thead tr th:nth-of-type(1) {
	width: 30%;
}
#statistics table thead tr th:nth-of-type(2) {
	width: 15%;
}
#statistics table thead tr th:nth-of-type(3) {
	width: 45%;
}
#statistics table thead tr th:nth-of-type(4) {
	width: 10%;
}
#statistics table tbody tr {
	display: none;
}
#statistics table tbody tr.active {
	display: table-row;
}
#statistics .domTitle + .table {
	margin-top: -7px;
}
#statistics .ignored-kbart-entries {
	color: red;	
}
#config-view table thead tr th:nth-of-type(1) {
	width: 15%;
}
#config-view table thead tr th:nth-of-type(2) {
	width: 30%;
}
#config-view table thead tr th:nth-of-type(3) {
	width: 35%;
}
#config-view table thead tr th:nth-of-type(4) {
	width: 20%;
}
#config-view table ul {
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}