body {
	padding-top: 50px;
}

h3 {
	color: #f18123;
	font-weight: bold;
	margin-bottom: 15px;
}
.navbar-inverse {
	color: #fff;
	background-color: #004678;
	border-bottom: 0px;
}
.navbar-inverse .navbar-brand {
	color: #fff;
	font-weight: bold;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #004678;
	background-color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}
.content {
	padding: 40px 15px;
	margin-bottom: 40px;
}

#ygor-messages {
	min-height: 1px;
}

select#pkgNominal {
	width: 405px;
}
select#processIndex {
	width: 405px;
	display: inline-block;
}

#statistics-filter .badge {
	margin-left: 0.5em;
}

#statistics table {
	display: none;
}
#statistics table.active {
	display: table;
}

#statistics table thead {
	color: #ccc;
}

#statistics table thead tr th:nth-of-type(1) {
	width: 30%;
}
#statistics table thead tr th:nth-of-type(2) {
	width: 15%;
}
#statistics table thead tr th:nth-of-type(3) {
	width: 45%;
}
#statistics table thead tr th:nth-of-type(4) {
	width: 10%;
}
#statistics table tbody tr {
	display: none;
}
#statistics table tbody tr.active {
	display: table-row;
}
#statistics .domTitle + .table {
	margin-top: -7px;
}

#config-view table thead tr th:nth-of-type(1) {
	width: 15%;
}
#config-view table thead tr th:nth-of-type(2) {
	width: 30%;
}
#config-view table thead tr th:nth-of-type(3) {
	width: 35%;
}
#config-view table thead tr th:nth-of-type(4) {
	width: 20%;
}
#config-view table ul {
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}